@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3/5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #cdcd76;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}

.filmes h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #4f784e;
}

.filmes h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #cdcd76;
}

.filmes p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.filmes-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.filmes-lista li {
  cursor: pointer;
}

.filmes-lista::-webkit-scrollbar {
  width: 18px;
}

.filmes-lista::-webkit-scrollbar-thumb {
  background: #cdcd76;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.filmes-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.filmes-descricao {
  grid-column: 3;
}

.filmes-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2/4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #4f784e;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #cdcd76;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li a {
  text-decoration: none;
  cursor: pointer;
  color: #4f784e;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #cdcd76;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #cdcd76;
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block !important;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt {
  cursor: pointer;
}

[data-anime="accordion"] dt::after {
  content: "тоз";
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: "тое";
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(-30px, 0, 0);
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
